* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

/*div {
  width: 100%;
  margin: 20px;
}*/

li {
  display: flex;
  align-items: center;
}

li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 10;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 50px;
  font-weight: bold;
  font-size: 14px;
}

li button {
  margin: 0 15px;
  background: #ca4949;
}
